body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(p4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav{
    background-color: rgba(255,255,255,0.7);
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction:row ;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
nav ul li{
    width: 25rem;
}
nav ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 20px 40px;
    display: block;
    transition: all 0.3s linear;
    text-align: center;
}
nav ul li:hover a{
    background-color: rgba(0,0,0,0.7);
    color: white;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper{
    width: 80%;
    height: fit-content;
}
.swiper-wrapper img{
    width: 100%;
}
